{% extends "admin/base.html.twig" %}

{% block title %}Modification du User : {{user.fullName}}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Modification du user {{user.fullName}}</h1>
        <a href="{{path('admin_user_index')}}" class="btn btn-secondary my-3">Retour</a>
        <div class="bg-light p-3 my-3">
            {{form_start(myForm)}}
                {{form_widget(myForm)}}
                <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i>Confirmer</button>
            {{form_end(myForm)}}
        </div>
    </div>

{% endblock %}