{% extends "base.html.twig" %}


{% block title %}Modification de l'annonce: {{ad.title}}{% endblock %}

{% form_theme myForm 'ad/_collection.html.twig' %} {# on ne lui donne plus le _self mais le fichier qu'on a créer avec la mise en forme du formulaire pour ne pas faire de répétition #}

{% block body %}

    <div class="container">
        <h1>Modification de l'annonce : <strong>{{ad.title}}</strong></h1>
    
        {{form_start(myForm)}}

            {{form_widget(myForm)}}
            <button type="submit" class="btn btn-warning mt-3">Modifier</button>


        {{form_end(myForm)}}


    </div>

{% endblock %}

{% block javascripts %}
    {# on a mit le contenu dans assets/js/ad.js pour ne pas se répéter et avoir uniquement un fichier qu'on répète #}
    {{encore_entry_script_tags('annonce')}} 
    {# on vient chercher le code qu'on a externaliser (Attention ne pas oublier dans webpack config le addEntry de notre fichier externe) #}
{% endblock %}