{% extends "base.html.twig" %}

{% block title %}Création d'une annonce{% endblock %}

{# {% form_theme myForm 'bootstrap_5_layout.html.twig' %} on vient lui donner un theme, on impose un template à twig , pour qui (myForm) , quel theme ( _self -> on créer notre propre thème) #}
{# dans ce cas-ci on vient chercher un thème prédéfini #}

{% block body %}
    <div class="container">
        <h1>Création d'une nouvelle annonce</h1>

        {{form_start(myForm)}}

        

            {# {{form_widget(myForm.title, {'attr':{'class':'form-control'}})}} #}

            {# {{form_row(myForm.title)}} #}

            {# Méthode pour créer le bouton dans le form ( mais à l'extérieur de sa création) #}

            {{form_widget(myForm)}}



            <button type="submit" class="btn btn-primary mt-3">Création d'une annonce</button>

        {{form_end(myForm)}}
    </div>

{% endblock %}

{# mode templatink on vient créer notre template ( mise en form de notre formulaire ) #}
{# {% block form_row %} #}
{#     
    <div class="form-group">
        <div class="row">
            <div class="col-6"> #}
                {# {{form_label(form)}} #}
                {# form fait référence à tout le formulaire pour notre template , non prédéfinis il ne fait pas référence à myForm directement #}
            {# </div>
            <div class="col-6">
                {{form_widget(form)}} #}
            {# </div>
        </div>
    </div> #}

{# {% endblock %} #}

{# {% block text_widget %}  #}
{# on vient templater tout les inputs type text #}

    {# <input type="text" name="{{full_name}}" id="{{id}}" class="form-control"> #}

{# 
{% endblock %} #}